<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WallpaperChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WallpaperChanger.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <WallpaperChanger.Properties.Settings>
            <setting name="AutoApply" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnStart" serializeAs="String">
                <value>False</value>
            </setting>
        </WallpaperChanger.Properties.Settings>
        <WallpaperChanger.Settings1>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoApply" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnStart" serializeAs="String">
                <value>False</value>
            </setting>
        </WallpaperChanger.Settings1>
    </userSettings>
</configuration>
